@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}




<div class="board">
    <div class="score-div">
        <div class="score-square">
            <p class="score-title" name="gameMessage">SCORE: <span name="score" class="score" >@IndexModel.Score</span></p>
        </div>
    </div>
    <div>
        <p class="error-paragraph">@Model.ErrorMessage</p>
    </div>
    <div class="results">
        @if(Model.PlayerChoose != null)
        {
             <div class="option option-@Model.PlayerChoose">
            <input type="image" src="./css/Assets/icon-@Model.PlayerChoose-.png" alt="@Model.PlayerChoose hand gesture"  value="@Model.PlayerChoose" class="option-item-result" id="@Model.PlayerChoose"/>
        </div>

        <p class="results-paragraph">@Model.GameMessage</p>

        <div class="option option-@Model.CpuChoose option-choosen">
            <input type="image" src="./css/Assets/icon-@Model.CpuChoose-.png" alt="@Model.CpuChoose hand gesture"  value="@Model.CpuChoose" class="option-item-result" id="@Model.CpuChoose"/>
        </div>
        }
       
    </div>
        <form class="form" method="post">


                <label class="option option-rock">
                    <input type="radio" name="option" value="rock" class="radio-option"/>
                    <img  src="./css/Assets/icon-rock-.png" alt="rock hand gesture"  class="option-item" id="rock" />
                </label>

                <label class="option option-paper">
                    <input type="radio"  name="option" value="paper" class="radio-option"/>
                    <img src="./css/Assets/icon-paper-.png" alt="paper hand gesture" class="option-item" id="paper"/>
                </label>

                <label class="option option-scissors">
                    <input type="radio" name="option" value="scissors" class="radio-option"/>
                    <img src="./css/Assets/icon-scissors-.png" alt="scissors hand gesture" class="option-item" id="scissors"/>
                </label>

                <label class="option option-lizard">
                    <input type="radio"  name="option" value="lizard" class="radio-option"/>
                    <img src="./css/Assets/icon-lizard-.png" alt="lizard hand gesture" class="option-item" id="lizard"/>
                </label>

                <label class="option option-spock">
                    <input type="radio" name="option" value="spock" class="radio-option"/>
                    <img src="./css/Assets/icon-spock-.png" alt="spock hand gesture" class="option-item" id="spock"/>
                </label>

                <button asp-action="OnPost()" class="play-button">Play</button>
        </form>
</div>

